set relativenumber
set number

" https://superuser.com/questions/622898/how-to-turn-off-the-bell-sound-in-intellij
" https://stackoverflow.com/questions/63386803/how-to-turn-off-a-bell-in-intellij-idea
set visualbell

" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md

set surround

let mapleader = " "

map <Leader>rn :action RenameElement<CR>
map <Leader>fs <Action>(FileStructurePopup)
map <Leader>gi <Action>(GotoImplementation)
map <Leader>w <Action>(HideAllWindows)

map <Leader>n <Action>(GotoNextError)
map <Leader>N <Action>(GotoPreviousError)
"map <Leader>gr <Action>(GotoRelated)


" https://danidiaz.medium.com/configuring-ideavimrc-de16a4da0715
